<ion-header class="Heder_center">
    <ion-toolbar>
      <ion-row style="background-color:#222222;padding:10px 10px;">
        <ion-col size="3">
          <ion-icon name="chevron-back-outline" (click)="back()" style="zoom: 2;"></ion-icon>
        </ion-col>
        <ion-col style="margin: auto;">
          <div style="text-align: left;">My Account</div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content class="contentback">
  <div class="ht_15"></div>
  <ion-row style="width: 90%; margin: auto;">
    <ion-col size="12" style="text-align: center;">
 Transaction History
  </ion-col></ion-row>
  <div class="ht_25"></div>

  <ion-row>
      <ion-col size="12" style="text-align: center;">
        <img src="assets/imgs/timer.png">
      </ion-col>
      </ion-row>
      <ion-row style="margin: auto;width: 90%;">
      <ion-col  style="text-align: center;color: whitesmoke;font-size: 14px;">
        Sorry! here are no transaction yet in the account
      </ion-col></ion-row>
</ion-content>
