<ion-header class="Heder_center">
  <ion-toolbar>
    <ion-row style="background-color:#222222;padding:10px 10px;">
      <ion-col size="3">
        <ion-icon name="chevron-back-outline" (click)="back()" style="zoom: 2;"></ion-icon>
      </ion-col>
      <ion-col style="margin: auto;">
        <div style="text-align: left;">My Account</div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="contentback">
  <div class="ht_15"></div>
  <div>
    <ion-row class="profilerow row_90">
      <ion-col size="12" (click)="aditpro()">
        <div class="ht_10"></div>
        <div style="font-size: 22px;">JFuller</div>
        <div class="ht_10"></div>
        <div style="font-size: 12px;">(757)635-4284 | JFuller@holopop.com</div>
        <div class="ht_15"></div>
        <div style="font-size: 18px;color:#ffffff;">Edit Details</div>
        <div class="ht_10"></div>
      </ion-col>
    </ion-row>
    <div class="ht_20"></div>
    <ion-row class="optionrow" (click)="accountmanage()">
      <ion-col size="2" style="text-align: center;">
        <ion-icon name="accessibility-outline" style="zoom: 1.4;"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <div class="ht_5"></div>
        <div>Account Management</div>
      </ion-col>
    </ion-row>
    <ion-row class="optionrow" (click)="signout()">
      <ion-col size="2" style="text-align: center;">
        <ion-icon name="log-out-outline" style="font-size: 25px;"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <div class="ht_5"></div>
        <div>Sign Out</div>
        <div class="ht_5"></div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
