<ion-header class="Heder_center">
  <ion-toolbar>
    <ion-row style="width: 90%;margin:auto">
      <ion-col size="1" style="margin: auto;">
        <ion-icon name="arrow-back-outline" style="zoom: 2;" (click)="back()"></ion-icon>
      </ion-col>
      <ion-col style="margin: auto;">
        <div>Terms</div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ht_20"></div>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 700;font-size: 22px;">
      Termes & Condition
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 400;font-size: 15px;">
      App terms and conditions are an important legal document for app developers and owners
      as they establish the rules and restrictions for app use. Terms and conditions for
      mobile apps help protect your intellectual property, prevent misuse of your app, and
      limit legal disputes.
      This guide will go over what app terms and conditions are, how they benefit you and users,
      and how to write terms and conditions for your app. Check out examples of other app’s terms, a
      nd download our free app terms and conditions template below.
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 700;font-size: 15px;">
      How Mobile App Terms and Conditions Benefit You
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 400;font-size: 15px;">
      Mobile app terms and conditions benefit you and your users by allowing you 
      to establish and maintain your rights as the app owner. 
      They also help users understand what is expected of them when using the app.
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 400;font-size: 15px;">
      <span style="font-weight: 700;">Arbitration over litigation:</span> You can choose to settle disputes via arbitration, 
      which can be more efficient and cost-effective than litigation.
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 400;font-size: 15px;">
      <span style="font-weight: 700;"> Protection from abusive users:</span> You have the right to suspend or delete the
       accounts of abusive users who violate your app’s terms and conditions. 
       Prohibited activities could include copyright infringement, spamming other users,
        and general misuse of your app.
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 400;font-size: 15px;">
      <span style="font-weight: 700;"> Limited liability:</span> This will vary from case to case,
       but including disclaimers in your terms and conditions can help 
       limit your liabilities if disputes arise.
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin:auto;">
    <ion-col size="12" style="margin: auto;font-weight: 400;font-size: 15px;">
      <span style="font-weight: 700;">  User benefits:</span> Your terms and conditions agreement should explain the finer
       points of your app to the user, like how payment processing works,
        what kind of behavior is expected of users, and how to contact customer support.
         It should also tell them what rights they have as a user.
    </ion-col>
  </ion-row>
</ion-content>