.wwwrow {
    width: 100%;
    background-color: #4a4a4a;
    border-radius: 18px 18px 0px 0px;
    color: #b8b8b8;
    padding: 8px;
    height: 60px;
}
.liverow {
    width: 100%;
    background-color: #1515152d;
    border-radius: 18px 18px 0px 0px;
    color: #ffffff;
    padding: 5px;
    margin-top: -10px;
}
.bottomdiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 5px;
}
.colordiv {
    // background-image: linear-gradient(to right bottom, #201d1d, #242020, #141314, #101012, #1e1a1a, #181616e3, #2a2424b8, #2c27278c, #82848500, #a7a8a900, #cdcfcf00, #f4f6f600);    
    background: linear-gradient(-42deg, #ffffff00 -64%, #49362f00 -115%, #1c1717 67%);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 99;
}
.statusrow{
    background-image: linear-gradient(to right, #130f0c, #1b1712, #231d17, #2b251c, #322c20); 
}
.backimg {
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    // height:50%;
    //background-image: url("F:/apexa/OTT/src/assets/imgs/nirmal.jpg");
    //background-image: url("E:/ionic/OTT/src/assets/imgs/nirmal.jpg");
    background-size: cover;
    z-index: 9999;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    // box-shadow: 0 0 8px 8px #473e2f inset;
}
.blurimg {
    // background: linear-gradient(to top right, #18150e 0%, #4f4333 100%);
    position: relative !important;
    z-index: 111;
    // width: 100%;
    height: 100%;
    //   z-index:8888;
}
.backimg22 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.burimg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #18150e 0%, #4f4333 100%);
    z-index: 1;
}
.contentdiv {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 111;
    background: linear-gradient(45deg, #18150e 0%, #4f4333 100%);
}
.linediv {
    width: 100%;
    border-bottom: 1px solid white;
    height: 10px;
}
.reachtext {
    color: #f4cd18;
}
.btn {
    width: 90%;
    height: 45px;
    margin: auto;
    display: table;
    text-transform: none;
    --background: #ffffff;
    --border-radius: 8px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 0ch;
}
.offerrow {
    width: 50%;
    margin: auto;
    border: 2px solid rgba(128, 128, 128, 0.718);
    color: #ffffffd0;
    border-radius: 10px;
    font-weight: bold;
    padding-top: 3px;
    height: 45px;
}
