<ion-header class="Heder_center">
  <ion-toolbar>
    <ion-row style="background-color:#222222;padding:10px 10px;">
      <ion-col size="1">
        <ion-icon name="chevron-back-outline" (click)="back()" style="zoom: 2;"></ion-icon>
      </ion-col>
      <ion-col style="margin: auto;">
        <div style="text-align: left;">Select your plan</div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="contentback">
  <div class="ht_100"></div>

  <div class="bottomdiv">
    <ion-row class="wwwrow">
      <ion-col size="8">
        <div style="font-size: 18px;">WWE Network</div>
      </ion-col>
      <ion-col size="4" style="text-align:right;">
        <div style="font-size: 18px;">299 <span class="font12"> Yearly</span></div>
      </ion-col>
    </ion-row>
    <div class="statusrow">
      <!-- <img src="assets/imgs/nirmal.jpg"> -->
      <!-- <div class="contentdiv"> -->

      <div style="position: relative;width:100%;height:300px;">
        <img src="assets/imgs/vapsi.jpg" style="position: relative;width:100%;height:300px;">
        <div class="colordiv">

          <ion-row class="liverow">
            <ion-col size="9">
              <div style="font-size: 22px;">Liv Premium</div>
              <div style="font-size: 12px;">Exclusive Originals & International Series</div>
            </ion-col>
            <ion-col size="3" style="text-align:right;">
              <div style="font-size: 22px;">999</div>
              <div style="font-size: 12px;">12 Months</div>
            </ion-col>
          </ion-row>
          <div class="ht_5"></div>
          <ion-row>
            <ion-col size="1" class="ion-no-padding">
              <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div style="font-size: 12px;">Latest Internation Shows</div>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="1" class="ion-no-padding">
              <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div style="font-size: 12px;">Live Events of WWE - RAW,SmackDown,Blockbuster & Raw Talk</div>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="1" class="ion-no-padding">
              <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div style="font-size: 12px;">Download episodes & Watch anytime</div>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="1" class="ion-no-padding">
              <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div style="font-size: 12px;">Ads served only on non-fiction live connection channels and few other
                selected
                content</div>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="1" class="ion-no-padding">
              <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div style="font-size: 12px;">Latest Internation Shows</div>
            </ion-col>
            <ion-col size="2"></ion-col>
            <ion-col size="1" class="ion-no-padding">
              <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <div style="font-size: 12px;">Latest Internation Shows</div>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
        </div>
      </div>
      <!-- <ion-row>
          <ion-col size="1" class="ion-no-padding">
            <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <div style="font-size: 12px;">Latest Internation Shows</div>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="1" class="ion-no-padding">
            <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <div style="font-size: 12px;">Live Events of WWE - RAW,SmackDown,Blockbuster & Raw Talk</div>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="1" class="ion-no-padding">
            <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <div style="font-size: 12px;">Download episodes & Watch anytime</div>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="1" class="ion-no-padding">
            <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <div style="font-size: 12px;">Ads served only on non-fiction live connection channels and few other
              selected
              content</div>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="1" class="ion-no-padding">
            <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <div style="font-size: 12px;">Latest Internation Shows</div>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="1" class="ion-no-padding">
            <ion-icon name="checkmark-outline" style="color: #f2da12;"></ion-icon>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <div style="font-size: 12px;">Latest Internation Shows</div>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row> -->
      <!-- <div class="ht_80"></div> -->
      <div class="statusrow">
        <div class="ht_10"></div> 
        <ion-row class="row_75">
          <ion-col size="1" class="ion-no-padding center">
            <img src="assets/imgs/radio.png" width="20px">
          </ion-col>
          <ion-col class="ion-no-padding">
            <div class="linediv"></div>
          </ion-col>
          <ion-col size="1" class="ion-no-padding center">
            <!-- <img src="assets/imgs/radio.png" width="20px"> -->
            <ion-icon name="radio-button-off-outline" style="font-size: 25px;margin-top: -3px;"></ion-icon>
          </ion-col>
          <ion-col class="ion-no-padding">
            <div class="linediv"></div>
          </ion-col>
          <ion-col size="1" class="ion-no-padding center">
            <!-- <img src="assets/imgs/radio.png" width="20px"> -->
            <ion-icon name="radio-button-off-outline" style="font-size: 25px;margin-top: -3px;"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="center">
          <ion-col size="4">
            <div class="font15 reachtext">12 Months</div>
            <div class="font12 reachtext">999</div>
          </ion-col>
          <ion-col>
            <div class="font15">6 Months</div>
            <div class="font12">699</div>
          </ion-col>
          <ion-col>
            <div class="font15">1 Months</div>
            <div class="font12">299</div>
          </ion-col>
        </ion-row>
        <ion-button class="btn">Proceed</ion-button>
      </div>
      <!-- </div> -->
    </div>
    <div class="ht_30"></div>
    <ion-row class="offerrow">
      <ion-col size="3" class="margin_t_5 ion-no-padding" style="text-align: right;">
        <img src="assets/imgs/discount.png" width="22px">
      </ion-col>
      <ion-col (click)="viewoffermodal()">
        <div class="margin_t_3 font15">View Offers</div>
      </ion-col>
    </ion-row>
    <div class="ht_20"></div>
  </div>
</ion-content>