ion-content{
  --background:#000000;
}
.firstarricn{
  color:#ffffff6e;
  margin-top:15px;
}
.row_90{
  width: 90%;
  margin: auto;
  border-bottom:1px solid #ffffff6e;
  padding-bottom: 10px;
}
.profilerow{
  background-color:#000000;
  height: 85px;
  padding: 17px 10px
}
.profileimg{
  width:40px;
  height: 40px;
  margin: auto;
}
.profilename{
  color:#ffffffb5;
  font-weight: bold;
  margin-top:5px;
}
.viewprofile{
  margin-top:5px;
  font-size:10px;
  color:green;
}
.allmenuicns{
  color: #ffffff6e;
  margin: auto;
  display: table;
  font-size: 25px;
  margin-top: -5px;
}
.arricn{
  color: #ffffff6e;
}
.menutxt{
  color:#ffffff6e;
  font-size: 13px;
}