.logoicn {
    margin: auto;
    font-size: 20px;
    display: table;
    margin-top: 10px;
    color: gray;
}
.fbrow{
    background-color:#3b5998;
    color:white;
    border-radius: 5px;
    width: 95%;
    border-radius: 25px;
    height: 50px;
    margin: auto;
}
.googlerow{
    background-color:#d04b39;
    color:white;
    border-radius: 5px;
    width: 95%;
    border-radius: 25px;
    height: 50px;
    margin: auto;
}
.hrdiv{
    width: 100%;
    height: 10px;
    border-bottom: 1px solid gray;
  margin: auto;
}
.moretxt{
    text-align: center;
    color:gray;
    font-size: 14px;
}
.spandiv{
    text-align: center;
    color:#ffffffe2;
    text-decoration: underline;
}