<ion-header class="Heder_center">
  <ion-toolbar>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="arrow-back-outline" (click)="back()" style="zoom: 2;"></ion-icon>
      </ion-col>
      <ion-col style="margin: auto;">
        <div>Registration</div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="contentback">
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
  <ion-card style="opacity: .95; z-index: 3; position:absolute; top:0; left:0;">
    <ion-row style="margin: auto;width: 90%;">
      <ion-col style="margin: auto;text-align: center;">
        <img src="assets/imgs/icon.png" style="height: 200px;width:auto;">
      </ion-col>
    </ion-row>
    <div class="ht_15"></div>
    <div class="vertical_centr">
      <ion-row>
        <ion-col size="12">
          <div class="ht_10"></div>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="person-outline" class="logoicn"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-input style="border-bottom:1px solid gray" placeholder="Username"></ion-input>
        </ion-col>

        <ion-col size="2">
          <ion-icon name="mail-outline" class="logoicn"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-input style="border-bottom:1px solid gray" placeholder="Email"></ion-input>
        </ion-col>

        <ion-col size="2">
          <ion-icon name="lock-closed-outline" class="logoicn"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-input style="border-bottom:1px solid gray" placeholder="Password"></ion-input>
        </ion-col>

        <ion-col size="2">
          <ion-icon name="body-outline" class="logoicn"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-input style="border-bottom:1px solid gray" placeholder="DOB: mm/dd/yyyy"></ion-input>
        </ion-col>
        <ion-col size="12">
          <div class="ht_15"></div>
        </ion-col>

        <ion-col size="12">
          <ion-button class="btnclass" (click)="signin()">Sign Up</ion-button>
          <div class="ht_10"></div>
        </ion-col>
        <ion-col size="12">
          <div class="moretxt">Already have an account?</div>
          <div class="ht_20"></div>
          <div class="spandiv" (click)="signin()">Sign In Now</div>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>
