.categorydiv {
  color: #38C1F0;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
.selectcategory {
  color: #38C1F0;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 1px solid #38C1F0;
  padding-bottom: 5px;
  width: 100%;
}
.sldimg{
    width: 150px;
    height:70px;
    margin: 0px;
    border-radius: 10px;
}
.actionimg{
    border-radius: 8px;
}
// swiper-slide{
//     width: fit-content !important;
// }
