<ion-header class="Heder_center">
  <ion-toolbar>
    <ion-row style="background-color:#222222;padding:10px 10px;">
      <ion-col size="2">
        <ion-icon name="chevron-back-outline" (click)="back()" style="zoom: 1.4;"></ion-icon>
      </ion-col>
      <ion-col style="margin: auto;">
        <div style="text-align: left;font-weight: bold;font-size: 19px;">My Account</div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="contentback">
  <div class="ht_20"></div>
  <ion-row style="width: 90%;margin: auto;color: aliceblue;">
    <ion-col size="3">
      <ion-icon name="chevron-back-outline" (click)="back()" style="zoom: 1.5;font-weight: bold;"></ion-icon>
    </ion-col>
    <ion-col size="8" style="margin: auto;">
      <div style="text-align: left;font-weight: bold;font-size: 20px;">Account Management</div>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row style="width: 90%;margin: auto;color: aliceblue;">
    <ion-col size="12" style="text-align: right;">
      <ion-text>nikunj</ion-text>
    </ion-col>
  </ion-row>
  <div class="ht_5"></div>
  <ion-row style="width: 90%;margin: auto;color: aliceblue;">
    <ion-col size="12" style="text-align: center;">
      <ion-text style="font-size: 13px;color: rgb(203, 200, 196);">nikunjpagada197@gmail.com | 91-9824767583</ion-text>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row style="width: 90%;margin: auto;color: aliceblue;">
    <ion-col size="12" style="text-align: left;">
      <ion-text>Select a Query</ion-text>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row class="acrow row_90">
    <ion-col size="10" style="text-align: left;">
      <div style="font-size: 12px;margin-left:5%;margin-top: 4%;">I am unable to receive the OTP</div>
    </ion-col>
    <ion-col size="2" style="text-align: right;">
      <div class="ht_10"></div>
      <ion-icon name="chevron-down-outline" style="font-size: 18px;margin-top: -1px;"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row class="acrow row_90">
    <ion-col size="10" style="text-align: left;">
      <div style="font-size: 12px;margin-left:5%;margin-top: 4%;">I am unable to login using OTP</div>
    </ion-col>
    <ion-col size="2" style="text-align: right;">
      <div class="ht_10"></div>
      <ion-icon name="chevron-down-outline" style="font-size: 18px;margin-top: -1px;"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row class="acrow row_90">
    <ion-col size="10" style="text-align: left;">
      <div style="font-size: 12px;margin-left:5%;margin-top: 4%;">I am unable to log into my TV</div>
    </ion-col>
    <ion-col size="2" style="text-align: right;">
      <div class="ht_10"></div>
      <ion-icon name="chevron-down-outline" style="font-size: 18px;margin-top: -1px;"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row class="acrow row_90">
    <ion-col size="10" style="text-align: left;">
      <div style="font-size: 12px;margin-left:5%;margin-top: 4%;">I am a subscriber and want to change my account detail</div>
    </ion-col>
    <ion-col size="2" style="text-align: right;">
      <div class="ht_10"></div>
      <ion-icon name="chevron-down-outline" style="font-size: 18px;margin-top: -1px;"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row class="acrow row_90">
    <ion-col size="10" style="text-align: left;">
      <div style="font-size: 12px;margin-left:5%;margin-top: 4%;">My Account is being used by someone else too</div>
    </ion-col>
    <ion-col size="2" style="text-align: right;">
      <div class="ht_10"></div>
      <ion-icon name="chevron-down-outline" style="font-size: 18px;margin-top: -1px;"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row class="acrow row_90">
    <ion-col size="10" style="text-align: left;">
      <div style="font-size: 12px;margin-left:5%;margin-top: 4%;">My account's device limit has reached</div>
    </ion-col>
    <ion-col size="2" style="text-align: right;">
      <div class="ht_10"></div>
      <ion-icon name="chevron-down-outline" style="font-size: 18px;margin-top: -1px;"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <ion-row class="acrow row_90">
    <ion-col size="10" style="text-align: left;">
      <div style="font-size: 12px;margin-left:5%;margin-top: 4%;">I want to delete my account</div>
    </ion-col>
    <ion-col size="2" style="text-align: right;">
      <div class="ht_10"></div>
      <ion-icon name="chevron-down-outline" style="font-size: 18px;margin-top: -1px;"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_30"></div>
</ion-content>
