.view{
// background-color: gray;
// --background-color: gray;
// --background: gray;
// background: gray;
--background: linear-gradient(rgb(123, 119, 119), rgb(168, 161, 161),rgb(97, 92, 92),rgb(75, 71, 71));
}
.row {
    width: 90%;
    // background-color: #1515152d;
    // border-radius: 18px 18px 0px 0px;
    color: #ffffff;
    padding: 5px;
    margin: auto;
    // margin-top: -10px;
}
.tcard{
    --background:  linear-gradient(to left,rgb(80, 79, 79), rgb(49, 47, 47),rgb(72, 69, 69),rgb(36, 34, 34));
    height: fit-content;
    width: 80%;
    border-radius: 6px;
}
  .apply {
    width: 50%;
    margin: auto;
    border: 2px solid rgba(221, 211, 211, 0.718);
    color: #ffffffd0;
    border-radius: 10px;
    font-weight: bold;
    padding-top: 3px;
    height: 40px;
}