<ion-content class="view">
  <div class="ht_10"></div>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col size="12" style="text-align: right;">
      <div class="btn" (click)="close()"> 
        <ion-icon name="close" style="color: rgb(248, 245, 245);margin-top: -1px;font-size: 22px;"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <!-- <div class="ht_10"></div> -->
  <ion-row class="row">
   <ion-col size="12">
    <div style="color: white;font-size: 15px;font-weight: bold;">Liv Premium</div>
   </ion-col>
  </ion-row>
  <div class="ht_10"></div>
  <swiper-container [options]="slideOpts">
    <swiper-slide>
      <ion-row style="width: 90%;margin: auto;">
        <ion-card class="tcard">
          <ion-row style="width: 90%;margin-top: -5px;margin-left: -5px;">
            <ion-col size="12" style="text-align: left;">
              <ion-text style="border:1px solid rgb(248, 22, 97);background: rgb(248, 22, 97);color: aliceblue;font-size: 12px;">Up to Rs.150</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <img src="assets/imgs/t1.png">
            </ion-col>
            <ion-col size="8">
              <div style="color: aliceblue;font-size: 17px;text-align: left;">Get Up to Rs.150 Cashback on MRP</div>
              <div style="color: rgb(156, 160, 164);font-size: 11px;text-align: left;">Get Up to Rs.150 Cashback on MRP 599 - Pay via</div>
            </ion-col>
          </ion-row>
          <div style="border-bottom: dotted gray;"></div>
          <ion-row class="row">
            <ion-col size="12" style="text-align: left;">
            <div style="color: rgb(156, 160, 164);font-size: 11px;">VALID TILL</div>
            <div style="color: rgb(250, 252, 255);font-size: 12px;margin-top: 5px;">31/10/2022</div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
      </swiper-slide>
      <swiper-slide>
        <ion-row style="width: 90%;margin: auto;">
          <ion-card class="tcard">
            <ion-row style="width: 90%;margin-top: -5px;margin-left: -5px;">
              <ion-col size="12" style="text-align: left;">
                <ion-text style="border:1px solid rgb(248, 22, 97);background: rgb(248, 22, 97);color: aliceblue;font-size: 12px;">Up to Rs.300</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <img src="assets/imgs/t1.png">
              </ion-col>
              <ion-col size="8">
                <div style="color: aliceblue;font-size: 17px;text-align: left;">Get Up to Rs.300 Cashback on MRP</div>
                <div style="color: rgb(156, 160, 164);font-size: 11px;text-align: left;">Get Up to Rs.300 Cashback on MRP 599 - Pay via</div>
              </ion-col>
            </ion-row>
            <div style="border-bottom: dotted gray;"></div>
            <ion-row class="row">
              <ion-col size="12" style="text-align: left;">
                <div style="color: rgb(156, 160, 164);font-size: 11px;">VALID TILL</div>
                <div style="color: rgb(250, 252, 255);font-size: 12px;margin-top: 5px;">31/10/2022</div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </swiper-slide>
      <swiper-slide>
        <ion-row style="width: 90%;margin: auto;">
          <ion-card class="tcard">
            <ion-row style="width: 90%;margin-top: -5px;margin-left: -5px;">
              <ion-col size="12" style="text-align: left;">
                <ion-text style="border:1px solid rgb(248, 22, 97);background: rgb(248, 22, 97);color: aliceblue;font-size: 12px;">Up to Rs.370</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <img src="assets/imgs/t1.png">
              </ion-col>
              <ion-col size="8">
                <div style="color: aliceblue;font-size: 17px;text-align: left;">Get Up to Rs.370 Cashback on MRP</div>
                <div style="color: rgb(156, 160, 164);font-size: 11px;text-align: left;">Get Up to Rs.370 Cashback on MRP 599 - Pay via</div>
              </ion-col>
            </ion-row>
            <div style="border-bottom: dotted gray;"></div>
            <ion-row class="row">
              <ion-col size="12" style="text-align: left;">
                <div style="color: rgb(156, 160, 164);font-size: 11px;">VALID TILL</div>
                <div style="color: rgb(250, 252, 255);font-size: 12px;margin-top: 5px;">31/10/2022</div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </swiper-slide>
    </swiper-container>
    <div class="ht_10"></div>
    <ion-row class="row">
      <ion-col size="12">
        <div style="color: white;font-size: 15px;font-weight: bold;">Do you have a Coupon Code?</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <img src="assets/imgs/whitediscount.png" style="width: 55px;">
        <!-- <div style="border-bottom: 1px solid white;"></div> -->
      </ion-col>
      <ion-col size="6" style="margin-top: 10px;margin-left: -35px;">
        <ion-input type="text" placeholder="Enter the Code"  style="color: white;"></ion-input>
        <div style="border-bottom: 1px solid white;margin-left: -20%;"></div>
      </ion-col>
      <ion-col size="3" class="apply">
        <div style="margin-left: 15px;margin-top: 5px;font-size:15px;">Apply</div>
      </ion-col>
    </ion-row>
</ion-content>

