<ion-header class="Heder_center">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-icon name="chevron-back-outline" (click)="back()" style="zoom: 2;"></ion-icon>
      </ion-col>
      <ion-col style="margin: auto;">
        <div><img src="assets/imgs/icon.png" style="height: 50px;width:auto;"></div>
      </ion-col>
      <ion-col size="2" (click)="menu()">
        <ion-icon style="zoom: 2;margin: auto;" name="reorder-three"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="contentback">
  <ion-row style="width: 90%;margin: auto;">
    <ion-col style="text-align: center;" size="12">
      <video controls="controls" src="../../../assets/vids/fullervid.mp4" height="260" width="310" frameborder="1"
             allowfullscreen></video>
    </ion-col>
  </ion-row>
  <ion-row style="margin: auto;width: 90%;">
    <ion-col size="2" style="margin: left;font-weight: 300;font-size: 11px;color: green;">
      Title:
    </ion-col>
    <ion-col size="10" style="margin: left;font-weight: 600;font-size: 20px;color: white;">
      You're dope Dude!
    </ion-col>
  </ion-row>
  <ion-row style="margin: auto;width: 90%;">
    <ion-col size="4" style="margin: left;font-weight: 300;font-size: 11px;color: green;">
      08/24/2023
    </ion-col>
    <ion-col size="4" style="margin: left;font-weight: 300;font-size: 11px;color: white;">
      From: John Fuller
    </ion-col>
    <ion-col size="4" style="margin: left;font-weight: 300;font-size: 11px;color: white;">
      To: YOU
    </ion-col>
  </ion-row>
  <ion-row style="margin: auto;width: 90%;">
    <ion-col size="3" style="font-weight: 400;font-size: 13px;color: white;">
      Personal Note:
    </ion-col>
    <ion-col style="font-weight: 400;font-size: 13px;color: white;">
      Thank you so much for working so hard on holopop, this project is so important to me and I am so grateful that you appeared, as if by magic, to help me make it happen.
    </ion-col>
  </ion-row>
  <div class="ht_15"></div>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col style="text-align: center;color: white;">
      <ion-icon name="share-social"></ion-icon>
      <br>
      <span style="text-align: center; font-size: 12px;color: white;">Share</span>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer linse="none">
  <div class="ht_20"></div>
  <ion-row class="footerrow">
    <ion-col class="ion-no-padding">
      <ion-icon name="home" class="selectfootericn"></ion-icon>
      <div class="selectfootertxt">Home</div>
    </ion-col>
    <ion-col class="ion-no-padding" (click)="search()">
      <ion-icon name="camera-outline" class="footericn"></ion-icon>
      <div class="footertxt">Scan QR</div>
    </ion-col>
  </ion-row>
  <div class="ht_15"></div>
</ion-footer>
