<ion-header class="Heder_center">
  <ion-toolbar>
    <ion-row style="background-color:#222222;padding:10px 10px;">
      <ion-col size="3">
        <ion-icon name="chevron-back-outline" (click)="back()" style="zoom: 2;"></ion-icon>
      </ion-col>
      <ion-col style="margin: auto;">
        <div style="text-align: left;">My Account</div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="contentback">
  <div class="ht_15"></div>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col size="12" style="margin: auto;color: gray;font-size: 16px;">
      Name
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin: auto;" (click)="set('1')">
    <ion-col size="10" style="margin: auto;color: white;" [ngClass]="(iid=='1')?'activ':'deactiv'">
      <ion-input [(ngModel)]="name">nikunj</ion-input>
    </ion-col>
    <ion-col [ngClass]="(iid=='1')?'activ':'deactiv'">
      <ion-icon class="iconw" (click)="clear('1')" *ngIf="iid != '1'" name="close-outline"></ion-icon>
    </ion-col>

  </ion-row>
  <div class="ht_5"></div>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col size="12" style="margin: auto;color: gray;font-size: 16px;">
      Mobile number
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin: auto;" (click)="set('2')">
    <ion-col size="10" style="margin: auto;color: white;" [ngClass]="(iid=='2')?'activ':'deactiv'">
      <ion-input [(ngModel)]="mobile" type="number"><span style="color: rgb(172, 167, 167);">+91-</span>9876567678</ion-input>
    </ion-col>
    <ion-col [ngClass]="(iid=='2')?'activ':'deactiv'">
      <ion-icon class="iconw" (click)="clear('2')" *ngIf="iid != '2'" name="close-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_5"></div>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col size="12" style="margin: auto;color: gray;font-size: 16px;">
      Email Address
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin: auto;" (click)="set('3')">
    <ion-col size="10" style="margin: auto;color: white;" [ngClass]="(iid=='3')?'activ':'deactiv'">
      <ion-input [(ngModel)]="email" type="email">nikunjpagada197@gmail.com</ion-input>
    </ion-col>
    <ion-col [ngClass]="(iid=='3')?'activ':'deactiv'">
      <ion-icon class="iconw" (click)="clear('3')"   *ngIf="iid != '3'" name="close-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_5"></div>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col size="12" style="margin: auto;color: gray;font-size: 16px;">
      Gender
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col size="4" (click)="set('4')">
      <div [ngClass]="(iid=='4')?'activg':'gender'">
        <ion-icon name="male-outline"></ion-icon> Male
      </div>
    </ion-col>
    <ion-col size="4" (click)="set('5')">
      <div [ngClass]="(iid=='5')?'activg':'gender'">
        <ion-icon name="female-outline"></ion-icon> Female
      </div>
    </ion-col>
    <ion-col size="4" (click)="set('6')">
      <div [ngClass]="(iid=='6')?'activg':'gender'">
        <ion-icon name="male-female-outline"></ion-icon>
        Others
      </div>
    </ion-col>
  </ion-row>
  <div class="ht_5"></div>
  <ion-row style="width: 90%;margin: auto;">
    <ion-col size="12" style="margin: auto;color: gray;font-size: 16px;">
      Enter your <span style="font-weight: 700;">Date of Birth</span>
    </ion-col>
  </ion-row>
  <ion-row style="width: 90%;margin: auto;" (click)="set('7')">
    <ion-col size="10" style="margin: auto;color: white;" [ngClass]="(iid=='7')?'activ':'deactiv'">
      <!-- <ion-input placeholder=" 22 / 02 / 1990"> -->
      <ion-datetime [(ngModel)]="date" displayFormat=" MM / DD / YYYY " placeholder=" 22 / 02 / 1990"></ion-datetime>
      <!-- </ion-input> -->
    </ion-col>
    <ion-col [ngClass]="(iid=='7')?'activ':'deactiv'">
      <ion-icon class="iconw" (click)="clear('4')" *ngIf="iid != '7'" name="close-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="ht_20"></div>
  <ion-col size="12">
    <ion-button (click)="Submit()" *ngIf="iid != i" class="update2">Submit</ion-button>
    <ion-button  (click)="Submit()"  *ngIf="iid == i" class="update1">Submit</ion-button>
  </ion-col>
  <div class="ht_20"></div>
</ion-content>
