<ion-content class="contentback1" style="z-index:1;">
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
    <div class="ht_20"></div>
    <ion-card style="opacity: .95; z-index: 3; top:-85vh;">
      <ion-row style="margin: auto; width: 90%; opacity: 0.75;">
        <ion-col style="margin: auto;text-align: center;">
          <img src="assets/imgs/icon.png" style="height: 200px;width:auto;">
        </ion-col>
      </ion-row>
      <div class="vertical_centr">
        <div class="inputdiv" style="opacity:1;">
          <ion-icon name="person-outline" class="loginicn" style="opacity:1;"></ion-icon>
          <ion-input class="inputbox" type="text" placeholder="Email" style="opacity:1;"></ion-input>
        </div>
        <div class="ht_15"></div>
        <div class="inputdiv">
          <ion-icon name="lock-closed-outline" class="loginicn"></ion-icon>
          <ion-input class="inputbox" type="password" Placeholder="Password"></ion-input>
        </div>
        <div class="ht_15"></div>
        <ion-button class="btnclass" (click)="login()">Sign in</ion-button>
        <div class="ht_10"></div>
        <ion-row>
          <ion-col size="12">
            <div class="forgottxt" (click)="forgetpwd()">Forgot Password</div>
          </ion-col>
        </ion-row>
        <div class="ht_10"></div>
        <ion-row>
          <ion-col size="12">
            <div class="moretxt" (click)="signup()">Don't have an account? <span>Sign Up</span></div>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
</ion-content>
